* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  max-width: 100vw;
  font-family: "Courier New", Courier, monospace;
}
.navbar {
  /* border: 2px solid brown; */
  display: flex;
  justify-content: space-between;
  position: relative;
  right: 8px;
  bottom: 8px;
  margin: -10px 0px;
}
.navbar .first {
  /* border: 2px solid red; */
  margin: 18px 22px;
  padding: 14px 0px;
}
.navbar .first:hover {
  background-color: gray;
}
.navbar .second {
  /* border: 2px solid blue; */
  margin: 6px;
  padding: 0px 0px;
}
.navbar .second li:hover {
  background-color: gray;
}
.navbar .second li {
  display: inline-block;
  padding: 10px;
  color: black;
}
.navbar .second li a {
  list-style: none;
  text-decoration: none;
  color: black;
}
.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-img {
  width: 1518px;
}
.pic span {
  position: relative;
  bottom: 129px;
  font-size: 30px;
  font-weight: bolder;
  left: 96px;
  color: gray;
}

/* about */
#about {
  /* border: 2px solid gray; */
  display: flex;
  justify-content: space-evenly;
}
#about img {
  /* border: 2px solid blue; */
  width: 439px;
  height: 630px;
  border-radius: 10px;
  opacity: 0.5;
}
#about .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid purple; */
  width: 400px;
  height: 575px;
}
hr {
  width: 50%;
  margin: 0px auto;
}
#menu {
  /* border: 2px solid black; */
  height: 900px;
  display: flex;
  /* flex-direction: column; */
}
#menu img {
  /* border: 2px solid khaki; */
  height: 700px;
  border-radius: 10px;
  position: relative;
  left: 949px;
  top: 70px;
  opacity: 0.5;
}
#menu .heading {
  /* border: 2px solid green; */
  height: 60px;
  position: relative;
  top: 52px;
  right: 150px;
}
#menu .text1 {
  /* border: 2px solid orangered; */
  height: 500px;
  position: relative;
  top: 188px;
  right: 534px;
  /* margin: -50px; */
}
#menu .text1 .first {
  /* border: 2px solid green; */
  margin: 20px;
}
#menu .text1 .second {
  /* border: 2px solid magenta; */
  margin: 20px;
}
#menu .text1 .third {
  /* border: 2px solid brown; */
  margin: 20px;
}
#menu .text1 .four {
  /* border: 2px solid burlywood; */
  margin: 20px;
}
#menu .text1 .five {
  /* border: 2px solid purple; */
  margin: 20px;
}
/* #menu .heading,#menu .text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
#contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#contact .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact .form .norep {
  padding: 0px;
  margin: 0px;
}
#contact .form .norep input {
  border: none;
  border-bottom: 1px solid gray;
  width: 1200px;
  height: 48px;
}
#contact .form .submit input {
  font-size: 15px;
  height: 34px;
  width: 150px;
  cursor: pointer;
}
